
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');



* {
  margin: 0;
  font-family: 'Kiwi Maru', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  font-family: 'Kiwi Maru', serif;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
