#about{
    height: calc(100vh - 70px);
    background-color: #B5FFFC;
    background: linear-gradient(135deg, #B5FFFC 0%, #e3dcf6 50%, #FFDEE9 100%), url(../images/bg.jpeg); 
    background-blend-mode: screen;   
     background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}