.contact-below {
  color: #354042;
  font-size: 1.5rem;
}

section {
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 6rem;
  width: 100%;
  background-color: rgb(138, 133, 133);
  color: white;
  text-align: center;
  padding-top: 1rem;
}

a {
  color: rgb(252, 252, 252);
  margin: 1.5rem;
  font-weight: 500;
}

/* @media only screen and (max-width: 767px){
 .footer{
   position: initial;
 }
} */

