@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kiwi+Maru&family=New+Tegomin&family=Satisfy&display=swap');

.home-header h1 {
font-family: 'Satisfy', cursive;
text-align: center;

}

.home-header.main-name strong{
    font-family: 'Satisfy', cursive;
    text-align: center;
}

#home{

    /* display: flex; 
    flex-direction: column;  */
    /* align-items: stretch; */
}

/* .home-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 102px;
    width: 100%;
    scroll-behavior: none;
} */

.row-home{
    display: flex;
    /* ALlow images to display on multiple lines rather than a single line */
    flex-wrap: wrap;
    /* Container should take up only 90% of the browser, leave 5% space on each side */
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
} 

h1 {
    font-size: 3rem;
}

.grid-area{
    margin-left: 3rem
}

img:hover{
    opacity: .5;
    transition: .0s;
}
/* @media only screen and (max-width: 767px){
    .home-header{
        padding: 30px;
        margin-bottom: 50px;
    }
} */

img.chay {
    height: 20rem;
    width: auto;
    border-color: rgb(189, 96, 96);
    border-radius: 50%;
    border-style: dashed;
    margin-top: 2rem;
}
