@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kiwi+Maru&family=New+Tegomin&family=Satisfy&display=swap');

.home-header h1 {
font-family: 'Satisfy', cursive;
text-align: center;
}

.home-header.main-name strong{
    font-family: 'Satisfy', cursive;
    text-align: center;
}

/* #home{
    display: flex; 
    flex-direction: row; 
    align-items: stretch;
} */

.home-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 102px;
    /* height: 500px; */
    width: 100%;
    scroll-behavior: none;
}

.row-home{
    height: 100%;
} 

h1 {
    font-size: 4rem;
}
