#responsive-navbar-nav{
    height:30px;
    width: 50%;
    align-items: center;
    right: 0;  
}

.navbar{
    background: linear-gradient( 89.9deg,  rgba(178,253,238,0.96) -8.1%, rgba(207,244,254,1) 26.3%, rgba(207,244,254,0.48) 47.5%, rgba(254,219,243,0.63) 61.5%, rgba(254,219,243,1) 78.7%, rgba(254,207,210,1) 109.2% ); 
    padding: 0;
}

.navbar-brand{
    margin-top: 10px;
    margin-bottom: 10px;
    background:rgba(255, 255, 255, 0);
}

.navbar-light .navbar-nav .nav-link{
    /* color: rgb(245, 113, 131); */
    color: rgb(240, 85, 150);
    font-size: larger;
    font-weight: bolder;
}
