#responsive-navbar-nav{
    /* height: 50vh; */
    background-color:antiquewhite;
    /* top: 5vh; */
    width: 50%;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    /* position: absolute; */
    right: 0;
    /* display: flex; */
    /* position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: #dcf0c2;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in; */
}

.navbar{
    background-color:antiquewhite;
}

.navbar-brand{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* 
.navbar-head{
  
} */