#responsive-navbar-nav{
    height:30px;
    width: 50%;
    align-items: center;
    right: 0;  
}

.navbar{
    background-color: #B5FFFC;
    background: linear-gradient(135deg, #B5FFFC 0%, #e3dcf6 50%, #FFDEE9 100%), url(../images/background.jpeg); 
    padding: 0;
    /* width: 100%; */
}

.navbar-brand{
    margin-top: 10px;
    margin-bottom: 10px;
    background:rgba(255, 255, 255, 0);
}

.navbar-light .navbar-nav .nav-link{
    /* color: rgb(245, 113, 131); */
    color: rgb(240, 85, 150);
    font-size: larger;
    font-weight: bolder;
}
