.project {
  text-align: center;
  background-color: #ffffff;
  width: 500px;
  display: inline-table;
  padding: 0.5rem 3rem 0.6rem 3rem;
  margin: 2em 1.5em 2em 1.5em;
  border-radius: 8px;
}

.work {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  /* align-items: flex-start;*/
  align-content: flex-start; 
  padding: 0;
  height: 85vh;
}

.last-card{
    margin-bottom: 8rem;
}
.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

h6{
    text-align: start;
}

/* BUTTON */

.btn {
    margin: 1rem 1rem; 
    -webkit-appearance: none;
    border: 6px solid rgba(221, 189, 189, 0.45);
    border-radius: 50px;
    padding: 1em 1.5em;
    background-repeat: no-repeat;
    background-size: 100%;
    background-clip: padding-box;
    position: relative;
    color: rgb(141, 136, 136);
    cursor: pointer;
  }
  .btn:before {
    content: "";
    width: 100%;
    height:100%;
   
    top: 5px;
    left: 5px;
    border-radius: 50px;
    z-index: -1;
    filter: blur(14px);
  }
  .btn:after {
    content: "";
    width: 100%;
    height:100%;
    top: 5px;
    right: 5px;
    border-radius: 50px;
    z-index: -1;
    filter: blur(14px);
  }
  
  .btn {
    background-image: linear-gradient(90deg, #9be8ee, #3bd1d3);
  }
  .btn:before {
    background-image: linear-gradient(90deg, #9be8ee, transparent);
  }
  .btn:after {
    background-image: linear-gradient(90deg, transparent, #3bd1d3);
  }

  